:root {
  --black:#000;
  --white:#fff;
  --light:#FAFAFA;
  --light-10:#EDF3FD;
  --dark:#252F3D;
  --dark-10:#333333;
  --gray:#4D5254;
  --gray-10:#969696;
  --gray-20:#CFCFCF;
  --green:#85BF55;
  --green-10:#5BB59A;
  --green-20:#59AE43;
  --blue:#2C7EF8;
  --blue-10:#3C7EF8;
  --blue-20:#E3EEFF;
  --red:#F82C2C;
  }
  